// Theme pallet

$primary-color: #5a4ad1;
$secondary-color: #2415c9;

$text-primary-color: #40434a;
$text-secondary-color: #f4f6f9;
$text-ternary-color: #9ba0ab;

$border-primary-color: rgba(90, 74, 209, 1);
$border-secondary-color: rgba(155, 160, 171, 0.5);

$text-smaller-size: 0.875rem;
$text-medium-size: 1rem;
$text-big-size: 1.85rem;
